.container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    padding: 10px;
}

.test-container{
    width: 800px;
    min-height: 200px;
    margin: 100px auto;
    border: 1px solid #fff;
    padding: 20px;

}