.container {
    width: 100%;
    min-height: 50px;
    color: "#fff";
    display: flex;
    align-items: center;
    margin: 5px;
    border-bottom: 1px solid #34343440;
    padding: 5px;
}
.answer{
    color: "#fff";
    background-color: "#ccc";
    border: 1px solid "fff";
}
