.container {
  width: 100%;
  min-height: 100px;
  background-color: #00000090;
  border: 1px solid #88bff7;
  margin: 10px 0;
  color: #ccc;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.test-name , .description , .created, .author{
  color: #88bff7;
  span {
    // color: #ccc;
    color: rgba(250, 239, 142, 0.808);
  }
}
