.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000da;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}
.modal-window{
    border-radius: 5px;
    width: 800px;
    min-height: 350px;
    border: 1px solid #000;
    background-color: rgb(212, 217, 219);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}