// .background{
//     background-image: url(../../img/Meteor.svg);
//     width: 100vw;
//     height: 100vh ;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 0;

// }
.video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
