.container{
    width: 80%;
    height: 200px;
    border: 1px solid #000;
    padding: 5px;
}
.edit-area{
    width: 100%;
    height: 80%;
    resize: none;
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}