.container {
    width: 100%;
    min-height: 50px;
    display: flex;
    border: 1px dashed #ffffff50;
    background-color: #00000099;
    margin: 5px 0;
    border-radius: 3px;

}
.text {
    width: 85%;
    word-break:keep-all;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;
    letter-spacing: 1px;
}
.button-wrap {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.red{
    color: red
}
.green{
    color: green
}