.container {
    width: 100%;
    min-height: 50px;
    display: flex;

}
.text {
    width: 85%;
    word-break:keep-all;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.button-wrap {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}