* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$main-color: #fff;

@mixin LinkStyles($color) {
  color: $color;
  text-decoration: none;
}

@mixin FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
