

.container{
    width: 250px;
    height: 100vh ;
    position: fixed;
    left: 0;
    background-color: #00000070;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
